#STEP 1 â€” Open Dataset Safely

In [2]:
import pandas as pd

# Load only 100k rows (safe for laptop)
df = pd.read_csv("flights.csv", nrows=100000)

# View first rows
print(df.head())

      FL_DATE                AIRLINE                AIRLINE_DOT AIRLINE_CODE  \
0  2019-01-09  United Air Lines Inc.  United Air Lines Inc.: UA           UA
1  2022-11-19   Delta Air Lines Inc.   Delta Air Lines Inc.: DL           DL
2  2022-07-22  United Air Lines Inc.  United Air Lines Inc.: UA           UA
3  2023-03-06   Delta Air Lines Inc.   Delta Air Lines Inc.: DL           DL
4  2020-02-23       Spirit Air Lines       Spirit Air Lines: NK           NK

   DOT_CODE  FL_NUMBER ORIGIN          ORIGIN_CITY DEST  \
0   19977.0     1562.0    FLL  Fort Lauderdale, FL  EWR
1   19790.0     1149.0    MSP      Minneapolis, MN  SEA
2   19977.0      459.0    DEN           Denver, CO  MSP
3   19790.0     2295.0    MSP      Minneapolis, MN  SFO
4   20416.0      407.0    MCO          Orlando, FL  DFW

               DEST_CITY  ...  DIVERTED  CRS_ELAPSED_TIME  ELAPSED_TIME  \
0             Newark, NJ  ...       0.0             186.0         176.0
1            Seattle, WA  ...       0.0             235.0         236.0
2        Minneapolis, MN  ...       0.0             118.0         112.0
3      San Francisco, CA  ...       0.0             260.0         285.0
4  Dallas/Fort Worth, TX  ...       0.0             181.0         182.0

   AIR_TIME  DISTANCE  DELAY_DUE_CARRIER  DELAY_DUE_WEATHER  DELAY_DUE_NAS  \
0     153.0    1065.0                NaN                NaN            NaN
1     189.0    1399.0                NaN                NaN            NaN
2      87.0     680.0                NaN                NaN            NaN
3     249.0    1589.0                0.0                0.0           24.0
4     153.0     985.0                NaN                NaN            NaN

   DELAY_DUE_SECURITY  DELAY_DUE_LATE_AIRCRAFT
0                 NaN                      NaN
1                 NaN                      NaN
2                 NaN                      NaN
3                 0.0                      0.0
4                 NaN                      NaN

[5 rows x 32 columns]

#STEP 2 â€” Understand Dataset

In [3]:
# Structure of data
print(df.info())

# Basic stats
print(df.describe())

# Check missing values
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15361 entries, 0 to 15360
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   FL_DATE                  15361 non-null  object
 1   AIRLINE                  15361 non-null  object
 2   AIRLINE_DOT              15361 non-null  object
 3   AIRLINE_CODE             15361 non-null  object
 4   DOT_CODE                 15360 non-null  float64
 5   FL_NUMBER                15360 non-null  float64
 6   ORIGIN                   15360 non-null  object
 7   ORIGIN_CITY              15360 non-null  object
 8   DEST                     15360 non-null  object
 9   DEST_CITY                15360 non-null  object
 10  CRS_DEP_TIME             15360 non-null  float64
 11  DEP_TIME                 14990 non-null  float64
 12  DEP_DELAY                14990 non-null  float64
 13  TAXI_OUT                 14986 non-null  float64
 14  WHEELS_OFF               14986 non-null  float64
 15  WHEELS_ON                14982 non-null  float64
 16  TAXI_IN                  14982 non-null  float64
 17  CRS_ARR_TIME             15360 non-null  float64
 18  ARR_TIME                 14982 non-null  float64
 19  ARR_DELAY                14956 non-null  float64
 20  CANCELLED                15360 non-null  float64
 21  CANCELLATION_CODE        375 non-null    object
 22  DIVERTED                 15360 non-null  float64
 23  CRS_ELAPSED_TIME         15360 non-null  float64
 24  ELAPSED_TIME             14956 non-null  float64
 25  AIR_TIME                 14956 non-null  float64
 26  DISTANCE                 15360 non-null  float64
 27  DELAY_DUE_CARRIER        2727 non-null   float64
 28  DELAY_DUE_WEATHER        2727 non-null   float64
 29  DELAY_DUE_NAS            2727 non-null   float64
 30  DELAY_DUE_SECURITY       2727 non-null   float64
 31  DELAY_DUE_LATE_AIRCRAFT  2727 non-null   float64
dtypes: float64(23), object(9)
memory usage: 3.8+ MB
None
           DOT_CODE     FL_NUMBER  CRS_DEP_TIME      DEP_TIME     DEP_DELAY  \
count  15360.000000  15360.000000  15360.000000  14990.000000  14990.000000
mean   19973.896484   2517.907357   1324.423893   1329.045430      9.705937
std      378.268293   1745.077372    488.451016    502.116648     46.464559
min    19393.000000      1.000000      7.000000      1.000000    -41.000000
25%    19790.000000   1064.000000    910.000000    911.000000     -5.000000
50%    19930.000000   2161.000000   1320.000000   1323.000000     -2.000000
75%    20368.000000   3793.000000   1730.000000   1742.000000      7.000000
max    20452.000000   8799.000000   2359.000000   2400.000000   1180.000000

           TAXI_OUT    WHEELS_OFF     WHEELS_ON       TAXI_IN  CRS_ARR_TIME  \
count  14986.000000  14986.000000  14982.000000  14982.000000  15360.000000
mean      16.575938   1350.728547   1463.873381      7.726005   1488.665039
std        9.229821    503.677466    529.975260      6.244310    514.936800
min        4.000000      1.000000      1.000000      1.000000      1.000000
25%       11.000000    926.000000   1047.000000      4.000000   1102.000000
50%       14.000000   1335.000000   1501.000000      6.000000   1515.000000
75%       19.000000   1755.000000   1913.000000      9.000000   1921.000000
max      143.000000   2400.000000   2400.000000    164.000000   2359.000000

       ...      DIVERTED  CRS_ELAPSED_TIME  ELAPSED_TIME     AIR_TIME  \
count  ...  15360.000000      15360.000000  14956.000000  14956.00000
mean   ...      0.001888        142.241146    136.481680    112.20226
std    ...      0.043412         71.123494     71.067448     69.12528
min    ...      0.000000         21.000000     18.000000      9.00000
25%    ...      0.000000         90.000000     84.000000     62.00000
50%    ...      0.000000        125.000000    119.000000     95.00000
75%    ...      0.000000        174.000000    168.000000    142.00000
max    ...      1.000000        665.000000    722.000000    661.00000

           DISTANCE  DELAY_DUE_CARRIER  DELAY_DUE_WEATHER  DELAY_DUE_NAS  \
count  15360.000000        2727.000000        2727.000000    2727.000000
mean     807.938281          24.357902           4.145948      12.526219
std      583.439640          63.831281          37.902460      32.341231
min       30.000000           0.000000           0.000000       0.000000
25%      382.750000           0.000000           0.000000       0.000000
50%      651.000000           5.000000           0.000000       0.000000
75%     1046.000000          24.000000           0.000000      17.000000
max     5095.000000        1022.000000        1180.000000    1124.000000

       DELAY_DUE_SECURITY  DELAY_DUE_LATE_AIRCRAFT
count         2727.000000              2727.000000
mean             0.172351                23.914558
std              4.029650                53.915048
min              0.000000                 0.000000
25%              0.000000                 0.000000
50%              0.000000                 0.000000
75%              0.000000                27.000000
max            154.000000              1049.000000

[8 rows x 23 columns]
FL_DATE                        0
AIRLINE                        0
AIRLINE_DOT                    0
AIRLINE_CODE                   0
DOT_CODE                       1
FL_NUMBER                      1
ORIGIN                         1
ORIGIN_CITY                    1
DEST                           1
DEST_CITY                      1
CRS_DEP_TIME                   1
DEP_TIME                     371
DEP_DELAY                    371
TAXI_OUT                     375
WHEELS_OFF                   375
WHEELS_ON                    379
TAXI_IN                      379
CRS_ARR_TIME                   1
ARR_TIME                     379
ARR_DELAY                    405
CANCELLED                      1
CANCELLATION_CODE          14986
DIVERTED                       1
CRS_ELAPSED_TIME               1
ELAPSED_TIME                 405
AIR_TIME                     405
DISTANCE                       1
DELAY_DUE_CARRIER          12634
DELAY_DUE_WEATHER          12634
DELAY_DUE_NAS              12634
DELAY_DUE_SECURITY         12634
DELAY_DUE_LATE_AIRCRAFT    12634
dtype: int64

ðŸ“Œ Data Quality Observations
#1ï¸âƒ£ Date Column

FL_DATE is stored as an object (string) datatype.
This column needs to be converted into datetime format for proper time-based analysis and feature extraction.

âž¡ Action Taken: Converted to datetime format.

#2ï¸âƒ£ Delay Columns with Missing Values

DEP_DELAY contains 371 missing values.
ARR_DELAY contains 405 missing values.

Missing values in delay columns can affect delay analysis and statistics.

âž¡ Action Taken: Filled missing values using the median of each column.

#3ï¸âƒ£ Cancellation Code Mostly Empty

CANCELLATION_CODE has 14,986 missing values.
This indicates that most flights were not cancelled.

âž¡ Action Taken: Filled missing values with "Not Cancelled".

#4ï¸âƒ£ Delay Reason Columns Mostly Empty

Delay reason columns such as:

DELAY_DUE_CARRIER

DELAY_DUE_WEATHER

DELAY_DUE_NAS

DELAY_DUE_SECURITY

DELAY_DUE_LATE_AIRCRAFT

have many missing values.

These missing values usually indicate that no delay occurred for that reason.

âž¡ Action Taken: Filled missing values with 0.

#STEP 3 â€” Fix Date Format

In [4]:
df['FL_DATE'] = pd.to_datetime(df['FL_DATE'])

In [5]:
print(df['FL_DATE'].head())

0   2019-01-09
1   2022-11-19
2   2022-07-22
3   2023-03-06
4   2020-02-23
Name: FL_DATE, dtype: datetime64[ns]

#STEP 4 â€” Handle Missing Values
**Fill delay columns with median**

In [7]:
df['DEP_DELAY'] = df['DEP_DELAY'].fillna(df['DEP_DELAY'].median())
df['ARR_DELAY'] = df['ARR_DELAY'].fillna(df['ARR_DELAY'].median())

**Fill cancellation code**

In [9]:
df['CANCELLATION_CODE'] = df['CANCELLATION_CODE'].fillna("Not Cancelled")

**Fill delay reasons with 0**

In [10]:
delay_cols = [
    'DELAY_DUE_CARRIER',
    'DELAY_DUE_WEATHER',
    'DELAY_DUE_NAS',
    'DELAY_DUE_SECURITY',
    'DELAY_DUE_LATE_AIRCRAFT'
]

df[delay_cols] = df[delay_cols].fillna(0)

#STEP 5 â€” Feature Engineering

**Month**

In [11]:
df['MONTH'] = df['FL_DATE'].dt.month

**Day of Week**

In [12]:
df['DAY_OF_WEEK'] = df['FL_DATE'].dt.dayofweek

**Hour (from DEP_TIME)**-The
**time is in HHMM format.**

In [13]:
df['DEP_TIME'] = pd.to_datetime(df['DEP_TIME'], format='%H%M', errors='coerce')

df['HOUR'] = df['DEP_TIME'].dt.hour

**Route Feature**

In [14]:
df['ROUTE'] = df['ORIGIN'] + "-" + df['DEST']

#STEP 6 â€” Remove Duplicates

In [15]:
df.drop_duplicates(inplace=True)

#STEP 7 â€” Ensure Positive Delays

In [16]:
df = df[df['ARR_DELAY'] >= 0]
df = df[df['DEP_DELAY'] >= 0]

#STEP 8 â€” Normalize Airline Names

In [17]:
df['AIRLINE'] = df['AIRLINE'].str.upper().str.strip()

#STEP 9 â€” Save Cleaned File

In [19]:
print(df.isnull().sum())

FL_DATE                    0
AIRLINE                    0
AIRLINE_DOT                0
AIRLINE_CODE               0
DOT_CODE                   0
FL_NUMBER                  0
ORIGIN                     0
ORIGIN_CITY                0
DEST                       0
DEST_CITY                  0
CRS_DEP_TIME               0
DEP_TIME                   8
DEP_DELAY                  0
TAXI_OUT                   0
WHEELS_OFF                 0
WHEELS_ON                  0
TAXI_IN                    0
CRS_ARR_TIME               0
ARR_TIME                   0
ARR_DELAY                  0
CANCELLED                  0
CANCELLATION_CODE          0
DIVERTED                   0
CRS_ELAPSED_TIME           0
ELAPSED_TIME               0
AIR_TIME                   0
DISTANCE                   0
DELAY_DUE_CARRIER          0
DELAY_DUE_WEATHER          0
DELAY_DUE_NAS              0
DELAY_DUE_SECURITY         0
DELAY_DUE_LATE_AIRCRAFT    0
MONTH                      0
DAY_OF_WEEK                0
HOUR                       8
ROUTE                      0
dtype: int64

In [20]:
df.dropna(subset=['DEP_TIME','HOUR'], inplace=True)

In [21]:
print(df.isnull().sum())

FL_DATE                    0
AIRLINE                    0
AIRLINE_DOT                0
AIRLINE_CODE               0
DOT_CODE                   0
FL_NUMBER                  0
ORIGIN                     0
ORIGIN_CITY                0
DEST                       0
DEST_CITY                  0
CRS_DEP_TIME               0
DEP_TIME                   0
DEP_DELAY                  0
TAXI_OUT                   0
WHEELS_OFF                 0
WHEELS_ON                  0
TAXI_IN                    0
CRS_ARR_TIME               0
ARR_TIME                   0
ARR_DELAY                  0
CANCELLED                  0
CANCELLATION_CODE          0
DIVERTED                   0
CRS_ELAPSED_TIME           0
ELAPSED_TIME               0
AIR_TIME                   0
DISTANCE                   0
DELAY_DUE_CARRIER          0
DELAY_DUE_WEATHER          0
DELAY_DUE_NAS              0
DELAY_DUE_SECURITY         0
DELAY_DUE_LATE_AIRCRAFT    0
MONTH                      0
DAY_OF_WEEK                0
HOUR                       0
ROUTE                      0
dtype: int64

In [22]:
df.to_csv("cleaned_flights.csv", index=False)